section {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 4%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

section h2 {
    margin-bottom: 1%;
    font-size: 2em;
}

.icon:hover {
    color: #ff8000;
}

table {
    background-color: rgba(255, 255, 255, 0.6);
}

thead {
    background-color: white;
}

tr:hover {
    background-color: white;
}